#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [3]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [4]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')
engine.table_names()

['badges',
 'comments',
 'postHistory',
 'postLinks',
 'posts',
 'tags',
 'users',
 'votes']

#### 4. Import the users table

In [5]:
users = pd.read_sql_query('SELECT * FROM users', engine)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [6]:
users.rename(index=str, columns={"Id": "userId"}, inplace=True)

users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [7]:
posts = pd.read_sql_query('SELECT * FROM posts', engine)
posts

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaT,None,None
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaT,None,None
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaT,NaN,2010-07-19 20:19:46,None,None
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,None,...,NaN,3,NaN,NaN,NaT,2010-07-19 19:16:27,3.0,NaT,None,None
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaT,NaN,NaT,None,None
10,11,1,1201.0,2010-07-19 19:18:30,2,224.0,"<p>Is there a good, modern treatment covering ...",34.0,2010-08-03 21:50:09,Multivariate Interpolation Approaches,...,1.0,2,1.0,34.0,2010-07-28 07:58:52,NaT,NaN,NaT,None,None
11,12,2,NaN,2010-07-19 19:18:41,20,NaN,"<p>See my response to <a href=""http://stackove...",5.0,2010-07-19 19:18:41,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:29:33,7.0,NaT,None,None
12,13,2,NaN,2010-07-19 19:18:56,14,NaN,<p>Machine Learning seems to have its basis in...,23.0,2010-07-19 19:18:56,None,...,NaN,4,NaN,NaN,NaT,NaT,6.0,NaT,None,None
13,14,2,NaN,2010-07-19 19:19:03,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36.0,2010-07-19 19:19:03,None,...,NaN,1,NaN,NaN,NaT,2010-07-19 19:19:03,3.0,NaT,None,None
14,15,2,NaN,2010-07-19 19:19:46,13,NaN,<p>John Cook gives some interesting recommenda...,6.0,2010-07-19 19:19:46,None,...,NaN,0,NaN,NaN,NaT,NaT,1.0,NaT,None,None
15,16,2,NaN,2010-07-19 19:22:31,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8.0,2010-07-19 20:43:02,None,...,NaN,3,NaN,8.0,2010-07-19 20:43:02,2010-07-19 19:22:31,3.0,NaT,None,None
16,17,1,29.0,2010-07-19 19:24:12,9,1261.0,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51,How can I adapt ANOVA for binary data?,...,1.0,0,1.0,7972.0,2012-01-22 23:34:51,NaT,NaN,NaT,user28,None
17,18,2,NaN,2010-07-19 19:24:18,31,NaN,<p>Also see the UCI machine learning Data Repo...,36.0,2010-07-19 19:24:18,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:31:32,7.0,NaT,None,None
18,19,2,NaN,2010-07-19 19:24:21,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55.0,2010-07-19 19:24:21,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:45,7.0,NaT,None,None
19,20,2,NaN,2010-07-19 19:24:35,3,NaN,<p>The assumption of normality assumes your da...,37.0,2010-07-19 19:24:35,None,...,NaN,2,NaN,NaN,NaT,NaT,2.0,NaT,None,None
20,21,1,NaN,2010-07-19 19:24:36,4,184.0,<p>What are some of the ways to forecast demog...,59.0,2010-09-30 21:14:45,Forecasting demographic census,...,1.0,1,1.0,930.0,2010-09-30 21:14:45,NaT,NaN,NaT,None,None
21,22,1,NaN,2010-07-19 19:25:39,102,21916.0,<p>How would you describe in plain English the...,66.0,2014-06-05 02:06:32,Bayesian and frequentist reasoning in plain En...,...,15.0,1,67.0,930.0,2011-10-04 07:05:14,NaT,NaN,NaT,None,None
22,23,1,91.0,2010-07-19 19:26:04,10,7694.0,<p>How can I find the PDF (probability density...,69.0,2010-07-20 08:52:27,Finding the PDF given the CDF,...,2.0,1,2.0,NaN,NaT,NaT,NaN,NaT,None,None
23,24,2,NaN,2010-07-19 19:26:13,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61.0,2010-07-19 19:26:13,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:26:13,3.0,NaT,None,None
24,25,1,32.0,2010-07-19 19:27:13,7,2095.0,<p>What modern tools (Windows-based) do you su...,69.0,2014-08-13 20:29:48,Tools for modeling financial time series,...,7.0,4,5.0,69.0,2010-07-26 23:38:29,2010-07-26 23:38:29,NaN,NaT,None,None
25,26,1,61.0,2010-07-19 19:27:43,18,3476.0,"<p>What is a standard deviation, how is it cal...",75.0,2013-07-30 10:19:04,What is a standard deviation?,...,8.0,14,7.0,22047.0,2013-07-30 10:19:04,NaT,NaN,NaT,None,None
26,27,2,NaN,2010-07-19 19:28:12,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68.0,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:55,7.0,NaT,None,None
27,28,2,NaN,2010-07-19 19:28:12,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:28:12,3.0,NaT,user28,None
28,29,2,NaN,2010-07-19 19:28:15,5,NaN,<p>Contingency table (chi-square). Also Logist...,36.0,2010-07-19 19:28:15,None,...,NaN,0,NaN,NaN,NaT,NaT,17.0,NaT,None,None
29,30,1,55.0,2010-07-19 19:28:34,7,705.0,<p>Which methods are used for testing random v...,69.0,2011-05-12 18:38:27,Testing random variate generation algorithms,...,8.0,2,7.0,919.0,2010-08-25 14:12:54,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91946,115346,2,NaN,2014-09-13 13:15:18,0,NaN,"<p>First, let's try to simulate some data with...",42434.0,2014-09-13 13:15:18,None,...,NaN,0,NaN,NaN,NaT,NaT,113980.0,NaT,None,None
91947,115348,1,NaN,2014-09-13 15:17:03,0,18.0,"<p>In the game of Bridge, 52 cards are distrub...",55564.0,2014-09-13 16:25:32,Please help me interpret this goodness of fit ...,...,1.0,3,NaN,55564.0,2014-09-13 15:41:36,NaT,NaN,NaT,None,None
91948,115350,1,NaN,2014-09-13 15:26:01,0,3.0,<p>How do we specify negative costs in rpart? ...,55731.0,2014-09-13 15:26:01,Specifying negative costs (benefits) in rpart'...,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91949,115351,1,NaN,2014-09-13 15:32:18,1,9.0,<p>If one is conducting a survey in which all ...,7331.0,2014-09-13 15:43:23,Sampling frame of a voluntary survey,...,0.0,0,NaN,7290.0,2014-09-13 15:43:23,NaT,NaN,NaT,None,None
91950,115352,1,NaN,2014-09-13 15:56:55,0,16.0,"<p>For example, I was looking at <a href=""http...",55734.0,2014-09-13 16:15:30,Is there a way to estimate the distribution fr...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91951,115353,2,NaN,2014-09-13 16:15:30,0,NaN,<p>I have strong reservations about whether me...,7290.0,2014-09-13 16:15:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115352.0,NaT,None,None
91952,115354,2,NaN,2014-09-13 16:25:32,2,NaN,"<p>If all the null hypotheses were true, 5% of...",805.0,2014-09-13 16:25:32,None,...,NaN,0,NaN,NaN,NaT,NaT,115348.0,NaT,None,None
91953,115355,1,NaN,2014-09-13 16:30:00,3,49.0,"<p>I have a methodological question, and there...",35413.0,2014-09-13 18:53:58,Adjust for everything you have in propensity s...,...,2.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91954,115356,1,NaN,2014-09-13 16:34:58,1,15.0,<p>I'm a beginner in statistics and I have to ...,55733.0,2014-09-13 20:45:45,"How to interpret glmer results (variance, corr...",...,0.0,0,NaN,55733.0,2014-09-13 20:45:45,NaT,NaN,NaT,None,None
91955,115357,2,NaN,2014-09-13 17:07:54,1,NaN,<p>I've personally been asking this question f...,44142.0,2014-09-13 17:07:54,None,...,NaN,0,NaN,NaN,NaT,NaT,115355.0,NaT,None,None
91956,115358,1,NaN,2014-09-13 17:29:23,2,15.0,<p>Are there any formulae for the quantiles of...,1569.0,2014-09-14 02:54:13,Quantiles of a compound gamma/negative binomia...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91957,115360,1,NaN,2014-09-13 18:06:50,2,40.0,<p>Is Student's t test a Wald test?</p>\n\n<p>...,55738.0,2014-09-13 18:06:50,Is Student's t test a Wald test?,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91958,115361,1,NaN,2014-09-13 18:36:36,0,12.0,"<p>Given the biometric match scores, I am requ...",55383.0,2014-09-13 18:36:36,Plotting of density estimates in matlab,...,0.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91959,115362,2,NaN,2014-09-13 18:44:31,2,NaN,"<p>Theoretical insight, institutional knowledg...",7071.0,2014-09-13 18:53:58,None,...,NaN,0,NaN,7071.0,2014-09-13 18:53:58,NaT,115355.0,NaT,None,None
91960,115363,2,NaN,2014-09-13 19:37:20,0,NaN,<p>I think I got a very simple answer.</p>\n\n...,2676.0,2014-09-13 19:37:20,None,...,NaN,0,NaN,NaN,NaT,NaT,115279.0,NaT,None,None
91961,115364,1,NaN,2014-09-13 19:50:17,0,11.0,<p>I'm trying to find the most similar sample ...,52858.0,2014-09-13 21:30:41,In search of a proper similarity function,...,0.0,3,NaN,52858.0,2014-09-13 21:30:41,NaT,NaN,NaT,None,None
91962,115365,2,NaN,2014-09-13 20:13:11,-1,NaN,<blockquote>\n <p>Is there some approach to u...,28236.0,2014-09-13 20:13:11,None,...,NaN,1,NaN,NaN,NaT,NaT,108430.0,NaT,None,None
91963,115366,1,NaN,2014-09-13 20:36:55,1,17.0,<p>Does any standard statistical software like...,55742.0,2014-09-13 23:18:30,Missing data analysis software,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
91964,115367,1,NaN,2014-09-13 20:57:24,1,97.0,<p>Jon and Frank ordered 2 footlong sandwiches...,41961.0,2014-09-14 02:05:41,How to add odds? (or how I got the wrong sandw...,...,3.0,0,NaN,919.0,2014-09-13 21:11:36,NaT,NaN,NaT,None,None
91965,115368,2,NaN,2014-09-13 21:01:39,4,NaN,<p>You need to multiply the probabilities with...,24808.0,2014-09-13 21:01:39,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91966,115369,2,NaN,2014-09-13 21:27:49,4,NaN,<p>Line up the four sandwiches in a row where ...,6633.0,2014-09-13 21:27:49,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91967,115370,1,NaN,2014-09-13 21:39:30,1,13.0,<p>im analyzing an article for my studies with...,55744.0,2014-09-13 21:39:30,Poisson regression,...,0.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91968,115371,1,NaN,2014-09-13 21:55:39,0,19.0,<p>I am trying to estimate the school effects ...,35801.0,2014-09-13 23:15:00,Estimation of school effects using xtmixed (in...,...,1.0,0,NaN,35801.0,2014-09-13 22:51:35,NaT,NaN,NaT,None,None
91969,115372,2,NaN,2014-09-13 23:15:00,0,NaN,<p>If prior to running the xtreg command you h...,48579.0,2014-09-13 23:15:00,None,...,NaN,9,NaN,NaN,NaT,NaT,115371.0,NaT,None,None
91970,115373,2,NaN,2014-09-13 23:18:30,0,NaN,"<p>Yes, the <a href=""http://cran.r-project.org...",48579.0,2014-09-13 23:18:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115366.0,NaT,None,None
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [8]:
posts.rename(index=str, columns={"Id": "postId", "OwnerUserId": "userId"}, inplace=True)
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [9]:
new_users = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
new_posts = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
print(new_users.head())
print(new_posts.head())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5
   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [14]:
merge_df = new_users.merge(new_posts, left_on='userId', right_on='userId')
merge_df.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [11]:
nullcols = merge_df.isnull().sum()
nullcols[nullcols > 0]

ViewCount    48396
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [15]:
# 48396 is ~ half of total data length
merge_df[['ViewCount']] = merge_df[['ViewCount']].fillna(0)

#dropcols = list(nullcols[nullcols > 10000].index)
#dropcols
#merge_df = merge_df.drop(dropcols, axis = 1)
merge_df.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [16]:
merge_df.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [27]:

merge_df['ViewCount'] = merge_df['ViewCount'].astype('int64')

#merge_df['userId'] = merge_df['userId'].astype('object')
merge_df.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0,0
1,-1,1,0,5007,1920,8576,0,0,0
2,-1,1,0,5007,1920,8578,0,0,0
3,-1,1,0,5007,1920,8981,0,0,0
4,-1,1,0,5007,1920,8982,0,0,0

In [18]:
stats = merge_df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

# Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [33]:
outliers = pd.DataFrame(columns=merge_df.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 3
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = merge_df[(merge_df[col] < lower) | 
                   (merge_df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

In [34]:
outliers

,CommentCount,DownVotes,Outlier,Reputation,Score,UpVotes,ViewCount,Views,postId,userId
1733,4,59,Reputation,18283,10,1014,0,3781,167,159
1734,0,59,Reputation,18283,2,1014,0,3781,169,159
1735,0,59,Reputation,18283,8,1014,0,3781,171,159
1736,0,59,Reputation,18283,35,1014,0,3781,174,159
1737,2,59,Reputation,18283,22,1014,0,3781,177,159
1738,0,59,Reputation,18283,12,1014,0,3781,179,159
1739,0,59,Reputation,18283,50,1014,39097,3781,181,159
1740,0,59,Reputation,18283,6,1014,0,3781,184,159
1741,3,59,Reputation,18283,51,1014,9772,3781,213,159
1742,2,59,Reputation,18283,15,1014,0,3781,221,159
1743,2,59,Reputation,18283,10,1014,0,3781,229,159
1744,4,59,Reputation,18283,12,1014,0,3781,261,159
1745,2,59,Reputation,18283,27,1014,0,3781,370,159
1746,0,59,Reputation,18283,8,1014,0,3781,530,159
1747,0,59,Reputation,18283,4,1014,0,3781,531,159
1748,5,59,Reputation,18283,12,1014,0,3781,532,159
1749,6,59,Reputation,18283,44,1014,11149,3781,534,159
1750,3,59,Reputation,18283,14,1014,0,3781,541,159
1751,6,59,Reputation,18283,31,1014,0,3781,587,159
1752,0,59,Reputation,18283,9,1014,0,3781,610,159
1753,0,59,Reputation,18283,15,1014,3833,3781,622,159
1754,2,59,Reputation,18283,4,1014,0,3781,625,159
1755,6,59,Reputation,18283,74,1014,0,3781,729,159
1756,5,59,Reputation,18283,146,1014,0,3781,730,159
1757,4,59,Reputation,18283,16,1014,0,3781,862,159
1758,0,59,Reputation,18283,6,1014,0,3781,872,159
1759,0,59,Reputation,18283,3,1014,0,3781,883,159
1760,6,59,Reputation,18283,24,1014,0,3781,1026,159
1761,2,59,Reputation,18283,20,1014,0,3781,1055,159
1762,2,59,Reputation,18283,6,1014,0,3781,1086,159
...,...,...,...,...,...,...,...,...,...,...
84900,13,0,CommentCount,2062,3,13,0,99,97402,44965
84918,20,0,CommentCount,2062,2,13,0,99,99166,44965
85061,13,0,CommentCount,51,5,0,90,4,96737,45114
85265,15,0,CommentCount,119,1,2,0,19,99771,45382
85530,17,0,CommentCount,52,1,25,76,11,108060,45745
85736,14,0,CommentCount,183,2,0,52,4,102895,45971
85756,15,0,CommentCount,9,0,0,1962,9,99690,45998
86809,13,0,CommentCount,1,0,0,60,1,103220,48303
86884,13,0,CommentCount,36,4,3,307,24,104194,48426
86951,20,0,CommentCount,144,11,0,199,19,108430,48490
86969,13,0,CommentCount,1,0,0,34,1,103714,48515
87072,13,9,CommentCount,411,2,21,0,50,104364,48639
87204,14,0,CommentCount,1148,5,44,0,59,104946,48766
87393,24,0,CommentCount,101,0,0,45,2,104761,49000
87790,14,0,CommentCount,74,2,3,56,7,108909,49458
87812,14,0,CommentCount,23,3,0,58,1,105787,49504
87901,16,0,CommentCount,85,1,2,128,4,106131,49677
87924,19,0,CommentCount,23,4,0,48,2,106191,49716
87973,17,0,CommentCount,49,-1,0,37,11,107795,49811
88582,19,3,CommentCount,2294,16,59,281,192,109710,52554
88780,13,0,CommentCount,126,1,0,0,17,110509,52756
88788,13,0,CommentCount,22,1,1,59,0,114146,52760
89084,17,0,CommentCount,18,3,1,64,2,110198,53201
89321,13,0,CommentCount,1,0,0,31,0,111004,53611
89492,13,0,CommentCount,11,0,0,31,3,111611,53937
89621,13,4,CommentCount,719,1,31,0,69,113461,54099
89800,14,6,CommentCount,60,3,14,0,64,113498,54300
89965,14,0,CommentCount,111,2,0,51,2,113011,54581
90064,17,0,CommentCount,96,7,5,280,14,113314,54736
90130,17,0,CommentCount,14,2,3,113,9,113598,54862

In [38]:
folder = "/Users/admin/Documents/data-labs/module-1/lab-data_cleaning/your-code/"
outliers.to_csv(folder+'outliers.csv', sep='\t', index=False)

In [30]:
"""
low_variance = []
import numpy as np

for col in merge_df._get_numeric_data():
    minimum = min(merge_df[col])
    ninety_perc = np.percentile(merge_df[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)
#data = data.drop(low_variance, axis=1)
"""

[]