## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import numpy as np
import pandas as pd

In [4]:
folder = "/Users/admin/Documents/data-labs/module-1/lab-data_cleaning/"
weather = pd.read_csv(folder+'weather-raw.csv')

In [79]:
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:

melted = weather.melt(id_vars=['id', 'year', 'month', 'element'], 
                    var_name='Day', value_name='Values')

melted

          id  year  month element  Day  Values
0    MX17004  2010      1    tmax   d1     NaN
1    MX17004  2010      1    tmin   d1     NaN
2    MX17004  2010      2    tmax   d1     NaN
3    MX17004  2010      2    tmin   d1     NaN
4    MX17004  2010      3    tmax   d1     NaN
5    MX17004  2010      3    tmin   d1     NaN
6    MX17004  2010      4    tmax   d1     NaN
7    MX17004  2010      4    tmin   d1     NaN
8    MX17004  2010      5    tmax   d1     NaN
9    MX17004  2010      5    tmin   d1     NaN
10   MX17004  2010      6    tmax   d1     NaN
11   MX17004  2010      6    tmin   d1     NaN
12   MX17004  2010      7    tmax   d1     NaN
13   MX17004  2010      7    tmin   d1     NaN
14   MX17004  2010      8    tmax   d1     NaN
15   MX17004  2010      8    tmin   d1     NaN
16   MX17004  2010     10    tmax   d1     NaN
17   MX17004  2010     10    tmin   d1     NaN
18   MX17004  2010     11    tmax   d1     NaN
19   MX17004  2010     11    tmin   d1     NaN
20   MX17004  2010     12    tmax   d1    29.9
21   MX17004  2010     12    tmin   d1    13.8
22   MX17004  2010      1    tmax   d2     NaN
23   MX17004  2010      1    tmin   d2     NaN
24   MX17004  2010      2    tmax   d2    27.3
25   MX17004  2010      2    tmin   d2    14.4
26   MX17004  2010      3    tmax   d2     NaN
27   MX17004  2010      3    tmin   d2     NaN
28   MX17004  2010      4    tmax   d2     NaN
29   MX17004  2010      4    tmin   d2     NaN
..       ...   ...    ...     ...  ...     ...
652  MX17004  2010      8    tmax  d30     NaN
653  MX17004  2010      8    tmin  d30     NaN
654  MX17004  2010     10    tmax  d30     NaN
655  MX17004  2010     10    tmin  d30     NaN
656  MX17004  2010     11    tmax  d30     NaN
657  MX17004  2010     11    tmin  d30     NaN
658  MX17004  2010     12    tmax  d30     NaN
659  MX17004  2010     12    tmin  d30     NaN
660  MX17004  2010      1    tmax  d31     NaN
661  MX17004  2010      1    tmin  d31     NaN
662  MX17004  2010      2    tmax  d31     NaN
663  MX17004  2010      2    tmin  d31     NaN
664  MX17004  2010      3    tmax  d31     NaN
665  MX17004  2010      3    tmin  d31     NaN
666  MX17004  2010      4    tmax  d31     NaN
667  MX17004  2010      4    tmin  d31     NaN
668  MX17004  2010      5    tmax  d31     NaN
669  MX17004  2010      5    tmin  d31     NaN
670  MX17004  2010      6    tmax  d31     NaN
671  MX17004  2010      6    tmin  d31     NaN
672  MX17004  2010      7    tmax  d31     NaN
673  MX17004  2010      7    tmin  d31     NaN
674  MX17004  2010      8    tmax  d31    25.4
675  MX17004  2010      8    tmin  d31    15.4
676  MX17004  2010     10    tmax  d31     NaN
677  MX17004  2010     10    tmin  d31     NaN
678  MX17004  2010     11    tmax  d31     NaN
679  MX17004  2010     11    tmin  d31     NaN
680  MX17004  2010     12    tmax  d31     NaN
681  MX17004  2010     12    tmin  d31     NaN

[682 rows x 6 columns]

In [85]:
melted = melted.dropna(subset=['Values']) 
melted

          id  year  month element  Day  Values
20   MX17004  2010     12    tmax   d1    29.9
21   MX17004  2010     12    tmin   d1    13.8
24   MX17004  2010      2    tmax   d2    27.3
25   MX17004  2010      2    tmin   d2    14.4
40   MX17004  2010     11    tmax   d2    31.3
41   MX17004  2010     11    tmin   d2    16.3
46   MX17004  2010      2    tmax   d3    24.1
47   MX17004  2010      2    tmin   d3    14.4
56   MX17004  2010      7    tmax   d3    28.6
57   MX17004  2010      7    tmin   d3    17.5
84   MX17004  2010     11    tmax   d4    27.2
85   MX17004  2010     11    tmin   d4    12.0
92   MX17004  2010      3    tmax   d5    32.1
93   MX17004  2010      3    tmin   d5    14.2
102  MX17004  2010      8    tmax   d5    29.6
103  MX17004  2010      8    tmin   d5    15.8
104  MX17004  2010     10    tmax   d5    27.0
105  MX17004  2010     10    tmin   d5    14.0
106  MX17004  2010     11    tmax   d5    26.3
107  MX17004  2010     11    tmin   d5     7.9
130  MX17004  2010     12    tmax   d6    27.8
131  MX17004  2010     12    tmin   d6    10.5
148  MX17004  2010     10    tmax   d7    28.1
149  MX17004  2010     10    tmin   d7    12.9
168  MX17004  2010      8    tmax   d8    29.0
169  MX17004  2010      8    tmin   d8    17.3
202  MX17004  2010      3    tmax  d10    34.5
203  MX17004  2010      3    tmin  d10    16.8
222  MX17004  2010      2    tmax  d11    29.7
223  MX17004  2010      2    tmin  d11    13.4
..       ...   ...    ...     ...  ...     ...
324  MX17004  2010     10    tmax  d15    28.7
325  MX17004  2010     10    tmin  d15    10.5
334  MX17004  2010      3    tmax  d16    31.1
335  MX17004  2010      3    tmin  d16    17.6
362  MX17004  2010      6    tmax  d17    28.0
363  MX17004  2010      6    tmin  d17    17.5
486  MX17004  2010      2    tmax  d23    29.9
487  MX17004  2010      2    tmin  d23    10.7
498  MX17004  2010      8    tmax  d23    26.4
499  MX17004  2010      8    tmin  d23    15.0
542  MX17004  2010      8    tmax  d25    29.7
543  MX17004  2010      8    tmin  d25    15.6
568  MX17004  2010     11    tmax  d26    28.1
569  MX17004  2010     11    tmin  d26    12.1
578  MX17004  2010      4    tmax  d27    36.3
579  MX17004  2010      4    tmin  d27    16.7
580  MX17004  2010      5    tmax  d27    33.2
581  MX17004  2010      5    tmin  d27    18.2
590  MX17004  2010     11    tmax  d27    27.7
591  MX17004  2010     11    tmin  d27    14.2
610  MX17004  2010     10    tmax  d28    31.2
611  MX17004  2010     10    tmin  d28    15.0
626  MX17004  2010      6    tmax  d29    30.1
627  MX17004  2010      6    tmin  d29    18.0
630  MX17004  2010      8    tmax  d29    28.0
631  MX17004  2010      8    tmin  d29    15.3
638  MX17004  2010      1    tmax  d30    27.8
639  MX17004  2010      1    tmin  d30    14.5
674  MX17004  2010      8    tmax  d31    25.4
675  MX17004  2010      8    tmin  d31    15.4

[66 rows x 6 columns]

In [48]:
#melted = melted.drop('Date', axis=1)

In [52]:
melted['Date'] = melted['year'].map(str) +'/'+ melted['month'].map(str) +'/'+ melted['Day'].str.replace('d', '')

In [86]:
melted.head()

         id  year  month element Day  Values
20  MX17004  2010     12    tmax  d1    29.9
21  MX17004  2010     12    tmin  d1    13.8
24  MX17004  2010      2    tmax  d2    27.3
25  MX17004  2010      2    tmin  d2    14.4
40  MX17004  2010     11    tmax  d2    31.3

In [55]:
melted = melted.drop(['id','year', 'month', 'Day'], axis=1)

In [82]:
melted.head()

   element  Values       Date
20    tmax    29.9  2010/12/1
21    tmin    13.8  2010/12/1
24    tmax    27.3   2010/2/2
25    tmin    14.4   2010/2/2
40    tmax    31.3  2010/11/2

In [67]:
result = melted.pivot(index='Date', columns='element', values='Values')

In [87]:
#result.sort_values(by=['Date'])
result

element     tmax  tmin
Date
2010/1/30   27.8  14.5
2010/10/14  29.5  13.0
2010/10/15  28.7  10.5
2010/10/28  31.2  15.0
2010/10/5   27.0  14.0
2010/10/7   28.1  12.9
2010/11/2   31.3  16.3
2010/11/26  28.1  12.1
2010/11/27  27.7  14.2
2010/11/4   27.2  12.0
2010/11/5   26.3   7.9
2010/12/1   29.9  13.8
2010/12/6   27.8  10.5
2010/2/11   29.7  13.4
2010/2/2    27.3  14.4
2010/2/23   29.9  10.7
2010/2/3    24.1  14.4
2010/3/10   34.5  16.8
2010/3/16   31.1  17.6
2010/3/5    32.1  14.2
2010/4/27   36.3  16.7
2010/5/27   33.2  18.2
2010/6/17   28.0  17.5
2010/6/29   30.1  18.0
2010/7/14   29.9  16.5
2010/7/3    28.6  17.5
2010/8/13   29.8  16.5
2010/8/23   26.4  15.0
2010/8/25   29.7  15.6
2010/8/29   28.0  15.3
2010/8/31   25.4  15.4
2010/8/5    29.6  15.8
2010/8/8    29.0  17.3

In [36]:
melted.dtypes

id          object
year         int64
month        int64
element     object
Day         object
Values     float64
dtype: object